body{
    color: black;
}

nav {
    background-image: linear-gradient(#a8d0fa, #aad9ff);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    background-image: linear-gradient(#a8d0fa, #aad9ff);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.email {
    background-color: blue;
    color: white;
}

.error-message p{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}